nav{
    border-bottom: 1px solid black;
}
.navbar-collapse{
    text-align: center;
}
.about{
    text-align: center;
}
.carousel{
    text-align: center;
    max-width: 350px;
}
img{
    max-width: 100%;
    height: auto;
}
.description{
    background: #F6F6F6;
}
.des-item{
    text-align: center;
}
.buy{
    text-align:center;
}
.shoppers{
    text-align: center;
}
.shopper-item{
    min-width: 80px;
}